@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v20/c4mP1n92AsfhuCq6tVsaoIx1LQICk0boNoq0SjlDfnzKo-bF3mdQkZYA8Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v20/c4mP1n92AsfhuCq6tVsaoIx1LQICk0boNoq0SjlDfnzKo-bF3mdQdpEA8Q.ttf) format('truetype');
}
:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
  --Font-Name-Stats: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--DarkCyan);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .bg {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
body .bg:nth-of-type(1) {
  background-image: url(images/bg-pattern-top.svg);
  background-position: -150px -500px;
}
body .bg:nth-of-type(2) {
  background-image: url(images/bg-pattern-bottom.svg);
  background-position: 150px 500px;
}
.card {
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.card img[alt="pattern"] {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card .card-content img[alt="avatar"] {
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
}
.card .card-content .user {
  text-align: center;
  padding-top: 75px;
}
.card .card-content .user p {
  font-size: 16px;
  color: var(--DarkGrayishBlue);
  font-weight: 400;
}
.card .card-content .user p:nth-child(1) {
  font-size: var(--Font-Name-Stats);
  margin-bottom: 10px;
}
.card .card-content .user p:nth-child(1) span {
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
}
.card .card-content hr {
  width: 100%;
  height: 1px;
  background-color: var(--DarkGray);
  border: none;
  margin: 30px 0;
}
.card .card-content .stats-container {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card .card-content .stats-container .stat p:nth-child(1) {
  font-size: var(--Font-Name-Stats);
  color: var(--VeryDarkDesaturatedBlue);
  font-weight: 700;
}
.card .card-content .stats-container .stat p:nth-child(2) {
  font-size: 14px;
  color: var(--DarkGrayishBlue);
  font-weight: 400;
  letter-spacing: 2px;
}
.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 376px) {
  body {
    flex-direction: column;
  }
  body .bg {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  body .bg:nth-of-type(1) {
    background-position: -150px -200px;
  }
  body .bg:nth-of-type(2) {
    background-position: 10px 200px;
  }
}
